.login-main {
  width: 100%;
  height: 100%;
  background-color: #f4f5f6;
  cursor: default;
  font-size: 14px;
}
.login-main .body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main .body .login-panel {
  width: 510px;
  height: 700px;
  background: #ffffff;
  box-shadow: 0px 3px 7px 0px rgba(16, 165, 147, 0.21);
  border-radius: 20px;
  background-color: #fff;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  line-height: 27px;
  text-align: center;
}
.login-main .body .login-panel .login-panel-title {
  padding-top: 52px;
  line-height: 0.8;
}
.login-main .body .login-panel .login-panel-logo {
  padding-bottom: 40px;
  background-size: contain;
  margin: 0 auto;
}
.login-main .body .login-panel .login-input-line {
  height: 50px;
  line-height: 30px;
  background-color: #fff;
  margin: 35px 50px 10px;
  position: relative;
}
.login-main .body .login-panel .login-input-line .input-line-title {
  position: absolute;
  top: -30px;
  left: 0;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}
.login-main .body .login-panel .login-input-line .input-line-title::before {
  content: "*";
  color: #e52323;
  margin-right: 4px;
}
.login-main .body .login-panel .login-input-line .login-icon {
  width: 50px;
  height: 50px;
  display: block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.login-main .body .login-panel .login-input-line .empty-txt-icon,
.login-main .body .login-panel .login-input-line .iconfont {
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 5px;
}
.login-main .body .login-panel .login-input-line .verify-code-clear-icon {
  right: 5px;
  z-index: 2;
}
.login-main .body .login-panel .login-input-line .iconfont {
  right: 30px;
  line-height: 22px;
  font-size: 20px;
  color: #9e9c9c;
}
.login-main .body .login-panel .login-input-line .verify-code-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
}
.login-main .body .login-panel .login-input-line .verify-code-wrapper .get-code-text {
  font-size: 14px;
}
.login-main .body .login-panel .login-input-line .verify-code-wrapper .get-code-text.has-clear-icon {
  right: 30px;
}
.login-main .body .login-panel .login-input-line .user-name-txt {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  padding-left: 15px;
  font-size: 14px;
}
.login-main .body .login-panel .login-input-line .user-name-txt::placeholder {
  font-size: 14px;
  color: #9e9c9c;
}
.login-main .body .login-panel .login-input-line .verify-code-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  padding-left: 15px;
  padding-right: 100px;
  font-size: 14px;
  box-sizing: border-box;
}
.login-main .body .login-panel .login-input-line .verify-code-input::placeholder {
  font-size: 14px;
  color: #9e9c9c;
}
.login-main .body .login-panel .login-input-line .get-code-text {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #10a593;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  z-index: 1;
}
.login-main .body .login-panel .login-input-line .get-code-text:hover {
  color: #0d8a7a;
}
.login-main .body .login-panel .login-input-line .get-code-text.disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.login-main .body .login-panel .login-input-line .get-code-text.disabled:hover {
  color: #cccccc;
}
.login-main .body .login-panel .login-btn-line {
  padding: 0 50px;
}
.login-main .body .login-panel .password-line {
  margin-bottom: 10px;
}
.login-main .body .login-panel .input-line-text {
  margin-left: 50px;
  font-size: 14px;
  color: #10a593;
  text-align: left;
}
.login-main .body .login-panel .input-line-text a {
  color: #10a593;
}
.login-main .body .login-panel .login-checkbox-line {
  margin-left: 50px;
  text-align: left;
}
.login-main .body .login-panel .login-checkbox-line {
  font-size: 14px;
  font-weight: 400;
}
.login-main .body .login-panel .login-checkbox-line label {
  margin-right: 0.5em;
}
.login-main .body .login-panel .login-checkbox-line .span {
  color: #10a593;
  cursor: pointer;
}
.login-main .body .login-panel .login-btn {
  background: #10a593;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  margin-bottom: 30px;
}
.login-main .body .login-panel .login-error {
  color: #ff0000;
  font-size: 1rem;
  margin: 30px 0 20px 0;
}
