@font-face {
  font-family: "iconfont"; /* Project id 4963530 */
  src: url('iconfont.woff2?t=1751356554275') format('woff2'),
       url('iconfont.woff?t=1751356554275') format('woff'),
       url('iconfont.ttf?t=1751356554275') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyuanjing:before {
  content: "\e639";
}

.icon-xianshimima1:before {
  content: "\e611";
}

.icon-yincangmima:before {
  content: "\e612";
}

